btrc
decorator
git+https://github.com/couchbaselabs/spring.git
git+https://github.com/couchbaselabs/cbagent.git
celery==3.0.21
couchbase==2.2.0
fabric==1.8.0
logger
ordereddict
pytz
requests==1.2.0
seriesly
