git+https://github.com/pavel-paulau/btrc.git
git+https://github.com/couchbaselabs/cbagent.git
celery==3.0.21
couchbase==1.2.0
decorator
fabric==1.8.0
flake8==2.1.0
logger
git+https://github.com/pavel-paulau/mc_bin_client.git
mock
nose==1.3.1
numpy
requests==2.1.0
seriesly
git+https://github.com/couchbaselabs/spring.git
git+https://github.com/pavel-paulau/tap.git
git+https://github.com/pavel-paulau/upr.git
