{
  "adminInterface": "0.0.0.0:4985",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db": {
      "server": "http://172.23.100.190:8091",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "delta_sync": { "enabled": false },
      "enable_shared_bucket_access": true,
      "cache": {
        "channel_cache": {
            "query_limit": 15000
        }
      },
      "users": { "guest": { "password": "guest", "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    }
  }
}