{
    "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_audit.json",
    "databases": {
        "db-1": {
            "bucket": "bucket-1",
            "enable_shared_bucket_access": true,
            "num_index_replicas": 0,
            "import_docs": true,
            "import_partitions": 48,
            "guest": {
                "disabled": false
            },
            "sync": "function(doc){channel(doc.channels);}"
        }
    }
}