{
  "disable_persistent_config": true,
  "server_tls_skip_verify": true,
  "use_tls_server": false,
  "admin_interface_authentication": false,
  "metrics_interface_authentication": false,
  "adminInterface": "0.0.0.0:4985",
  "metricsInterface": "0.0.0.0:4986",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": true,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "scopes": {
          "scope-1": {
            "collections": {
                "collection-1": {
                    "sync" : ` function (doc) { channel(doc.channels); } `
                }
            }
        }
      }
    }
  }
}