{
  "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_basic.json",
  "databases": {
    "db-1": {
      "bucket": "bucket-1",
      "enable_shared_bucket_access": true,
      "num_index_replicas": 0,
      "guest": {
        "disabled": false
      },
      "cache": {
        "channel_cache_max_length": 1,
        "channel_cache_min_length": 1
      },
      "scopes": {
        "scope-1": {
          "collections": {
            "collection-1": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-2": {
              "sync": " function (doc) { channel(doc.channels); } "
            }
          }
        }
      }
    }
  }
}