{
    "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_basic.json",
    "databases": {
        "db-1": {
            "bucket": "bucket-1",
            "enable_shared_bucket_access": true,
            "import_docs": true,
            "import_partitions": 48,
            "num_index_replicas": 0,
            "guest": {
                "disabled": false
            },
            "cache" : {
                "channel_cache_max_length": 500,
                "channel_cache_min_length": 500
            }
        }
    }
}