{
  "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_basic.json",
  "databases": {
    "db-1": {
      "bucket": "bucket-1",
      "enable_shared_bucket_access": true,
      "num_index_replicas": 0,
      "guest": {
        "disabled": false
      },
      "scopes": {
        "scope-1": {
          "collections": {
            "collection-1": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-2": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-3": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-4": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-5": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-6": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-7": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-8": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-9": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-10": {
              "sync": " function (doc) { channel(doc.channels); } "
            }
          }
        }
      }
    }
  }
}