{
  "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_basic.json",
  "databases": {
    "db-1": {
      "bucket": "bucket-1",
      "enable_shared_bucket_access": true,
      "num_index_replicas": 0,
      "guest": {
        "disabled": false
      },
      "cache": {
        "channel_cache_max_length": 1,
        "channel_cache_min_length": 1
      },
      "scopes": {
        "scope-1": {
          "collections": {
            "collection-1": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-2": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-3": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-4": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-5": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-6": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-7": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-8": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-9": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-10": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-11": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-12": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-13": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-14": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-15": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-16": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-17": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-18": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-19": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-20": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-21": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-22": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-23": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-24": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            },
            "collection-25": {
              "sync": " function (doc) { channel(doc.channels); access(doc.accessTo, doc.access); } "
            }
          }
        }
      }
    }
  }
}