{
  "bootstrap_path": "perfrunner/utils/syncgateway/configs/3.1/bootstrap_basic.json",
  "databases": {
    "db-1": {
      "bucket": "bucket-1",
      "enable_shared_bucket_access": true,
      "num_index_replicas": 0,
      "guest": {
        "disabled": false
      },
      "scopes": {
        "scope-1": {
          "collections": {
            "collection-1": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-2": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-3": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-4": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-5": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-6": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-7": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-8": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-9": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-10": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-11": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-12": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-13": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-14": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-15": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-16": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-17": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-18": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-19": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-20": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-21": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-22": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-23": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-24": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-25": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-26": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-27": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-28": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-29": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-30": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-31": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-32": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-33": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-34": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-35": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-36": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-37": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-38": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-39": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-40": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-41": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-42": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-43": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-44": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-45": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-46": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-47": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-48": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-49": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-50": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-51": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-52": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-53": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-54": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-55": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-56": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-57": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-58": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-59": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-60": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-61": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-62": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-63": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-64": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-65": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-66": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-67": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-68": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-69": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-70": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-71": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-72": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-73": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-74": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-75": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-76": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-77": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-78": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-79": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-80": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-81": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-82": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-83": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-84": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-85": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-86": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-87": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-88": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-89": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-90": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-91": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-92": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-93": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-94": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-95": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-96": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-97": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-98": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-99": {
              "sync": " function (doc) { channel(doc.channels); } "
            },
            "collection-100": {
              "sync": " function (doc) { channel(doc.channels); } "
            }
          }
        }
      }
    }
  }
}