{
  "adminInterface": "0.0.0.0:4985",
   "logging": {
    "logFilePath": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "http://172.23.100.190:8091",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function(doc, oldDoc) {
                    role(doc.roleTo0, doc.role0);
                    role(doc.roleTo1, doc.role1);
                    role(doc.roleTo2, doc.role2);
                    role(doc.roleTo3, doc.role3);
                    role(doc.roleTo4, doc.role4);
                    role(doc.roleTo5, doc.role5);
                    role(doc.roleTo6, doc.role6);
                    role(doc.roleTo7, doc.role7);
                    role(doc.roleTo8, doc.role8);
                    role(doc.roleTo9, doc.role9); } `
    }
  }
}