{
  "adminInterface": "0.0.0.0:4985",
   "logging": {
    "logFilePath": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "http://172.23.100.190:8091",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function(doc, oldDoc) {
                    access(doc.accessTo0, doc.access0);
                    access(doc.accessTo1, doc.access1);
                    access(doc.accessTo2, doc.access2);
                    access(doc.accessTo3, doc.access3);
                    access(doc.accessTo4, doc.access4);
                    access(doc.accessTo5, doc.access5);
                    access(doc.accessTo6, doc.access6);
                    access(doc.accessTo7, doc.access7);
                    access(doc.accessTo8, doc.access8);
                    access(doc.accessTo9, doc.access9); } `
    }
  }
}