{
  "adminInterface": "0.0.0.0:4985",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "http://172.23.100.190:8091",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "delta_sync": { "enabled": true, "rev_max_age_seconds": 3600 },
      "rev_cache_size": 1000000,
      "enable_shared_bucket_access": true,
      "users": { "guest": { "password": "guest", "admin_channels": ["*"] }
               },
      "roles": {
      "moderator": {},
      "admin": {}
      },
      "sync" : ` function (doc) { channel(doc.channels); } `
    }
  }
}