{
  "adminInterface": "0.0.0.0:4985",
   "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db": {
      "server": "couchbases://172.23.100.190",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "cache" : {
        "channel_cache_max_length": 1,
        "channel_cache_min_length": 1
      },
      "sync" : ` function(doc, oldDoc) {
                    access(doc.accessTo, doc.access);
                } `
    }
  }
}
