{
  "adminInterface": "0.0.0.0:4985",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db": {
      "server": "http://172.23.97.24:8091",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "num_index_replicas": 0,
      "users": { "guest": { "password": "guest", "admin_channels": ["*"] }
               },
      "roles": {
      "moderator": {},
      "admin": {}
      },
      "sync" : ` function (doc) { channel(doc.channels); } `
    }
  }
}