{
  "disable_persistent_config": true,
  "server_tls_skip_verify": true,
  "use_tls_server": false,
  "admin_interface_authentication": false,
  "metrics_interface_authentication": false,
  "adminInterface": "0.0.0.0:4985",
  "metricsInterface": "0.0.0.0:4986",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": true,
      "cache": {
        "channel_cache":{
            "max_number": 2000000,
            "compact_high_watermark_pct": 90,
            "compact_low_watermark_pct": 80
        }
      },
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-2": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-2",
      "username": "bucket-2",
      "password": "password",
      "enable_shared_bucket_access": true,
      "cache": {
        "channel_cache":{
            "max_number": 2000000,
            "compact_high_watermark_pct": 90,
            "compact_low_watermark_pct": 80
        }
    },
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    }
  }
}