{
  "disable_persistent_config": true,
  "server_tls_skip_verify": true,
  "use_tls_server": false,
  "admin_interface_authentication": false,
  "metrics_interface_authentication": false,
  "adminInterface": "0.0.0.0:4985",
  "metricsInterface": "0.0.0.0:4986",
  "logging": {
    "log_file_path": "/var/tmp/sglogs"
  },
  "databases": {
    "db-1": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-1",
      "username": "bucket-1",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-2": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-2",
      "username": "bucket-2",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-3": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-3",
      "username": "bucket-3",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-4": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-4",
      "username": "bucket-4",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-5": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-5",
      "username": "bucket-5",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-6": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-6",
      "username": "bucket-6",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-7": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-7",
      "username": "bucket-7",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-8": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-8",
      "username": "bucket-8",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-9": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-9",
      "username": "bucket-9",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-10": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-10",
      "username": "bucket-10",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-11": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-11",
      "username": "bucket-11",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-12": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-12",
      "username": "bucket-12",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-13": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-13",
      "username": "bucket-13",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-14": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-14",
      "username": "bucket-14",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-15": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-15",
      "username": "bucket-15",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-16": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-16",
      "username": "bucket-16",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-17": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-17",
      "username": "bucket-17",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-18": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-18",
      "username": "bucket-18",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-19": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-19",
      "username": "bucket-19",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    },
    "db-20": {
      "server": "couchbase://172.23.100.190",
      "bucket": "bucket-20",
      "username": "bucket-20",
      "password": "password",
      "enable_shared_bucket_access": false,
      "users": { "GUEST": { "disabled": true, "admin_channels": ["*"] }
               },
      "sync" : ` function (doc) { channel(doc.channels); } `
    }
  }
}